/* .col{
  border: 5px dotted blue;
}
.row{
  border: 5px dotted rgb(0, 255, 0);
}
.container-fluid{
  border: 5px dotted yellow;
} */

body {
  height: 100%;
}

html{
  background-color: #121212;
}

.container-fluid{
  background-color: #121212;
  min-width: 900px;
  max-width: 1300px;
}

.App{
  background-color: #121212;
}


