#capitol{
  width: 100%;
  /* background-color: transparent; */
  position: relative;
  z-index: 3;
  border-radius: 0px;
}

.capitol-wrapper{
  width: 100%;
  z-index: 2;
  position: relative;
  background-color: transparent;
}

.header-container{
  width: 100%;
}

.svg-wrapper{
  width: 100%;
}

#triangles{
  top: 0;
  left: 0;
  right: 0;
}

#triangle-wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 0px;
  z-index: 1;
}

