
.combo-col{
  /* height: 7vh; */
  /* position: relative; */
  /* margin: 0 auto;
  display: block; */
}

#combo-textfield{
  background-color: greenyellow;
}

.MuiSelect-root{
  background-color: #d12e28;
}

#title{
  margin-top: -25%;
  margin-bottom: 25%;
  text-align: center;
  color: #d12e28;
  font-family: 'Open Sans';
}