.map-container{
  height: 100vh;
  background-color: #121212;
}

.coordinate-box{
  background-color: transparent;
  visibility: visible;
}

.mapboxgl-ctrl-attrib-button{
  background-color: #121212;
  color: #121212;
}

.mapboxgl-ctrl-logo{
  visibility: hidden;
}

.reps{
}

.mapboxgl-popup-content{
  max-height: 300px;
  width: 100%;
  overflow-x: scroll;
}

.popup-image{
}

.popup-text{
}

.popup-rep{
border-top: 1px dotted black;
padding: 5px;
}

.mapboxgl-popup{
  min-width: 350px;
}