.map-container{
  height: 100vh;
  background-color: #121212;
}

.coordinate-box{
  background-color: transparent;
  visibility: visible;
}

.mapboxgl-ctrl-attrib-button{
  background-color: #121212;
  color: #121212;
}

.mapboxgl-ctrl-logo{
  visibility: hidden;
}

.popup{
  /* max-height: 200px; */
  /* width: 100%; */
  /* overflow-x: scroll; */
  /* z-index: 99; */
}

.reps{
  height: 100px;
  overflow: scroll;
}

.mapboxgl-popup-content{
  max-height: 200px;
  overflow: scroll;
}
