.searchBox {
  
}

.chip{
  background-color: grey;
}

#multiselectContainerReact{
  background: white;
  border-radius: 15px;
  border: none;
}

._2iA8p44d0WZ-WqRBGcAuEV {
  border: none;
}

#get-started{
  background-color: red;
}