.searchBox {
  border: 2px dotted black;
  color: white;
  font-family: acumin-pro-condensed, sans-serif;
  font-size: px;
  font-weight: 700;
  font-style: normal;
}

.chip{
  background-color: grey;
  overflow: hidden;
}

#multiselectContainerReact{
  background: white;
  border-radius: 10px;
  border: none;
  height: 100%;
}

._2iA8p44d0WZ-WqRBGcAuEV {
  border: none;
}

.optionListContainer{
  background-color: rgba(128, 128, 128, 0.678);
  padding-top: 5px;
}

#get-started{
  background-color: #d12e28;
  border-radius: 10px;
  width: 100%;
  border: none;
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  font-size: 100%;
}

#get-started-text{
  color: white;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  height: 100%;
  width: 100%;
}

.search-container{
  position: absolute;
  top: 75%;
  left: 50px;
  right: 50px;
  background-color: transparent;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 3;
}

.optionContainer{
  background-color: rgba(43, 40, 40, 0.048);
  height: 100%;
}

#search_input::placeholder{
  color: rgba(0, 0, 0, 0.308);
}

#search_input{
  width: 100%;
  color: black;
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button-container{
  max-height: 39px;
}