
.map-div{
  padding-left: 100px;
  background-color: #121212;
  border-radius: 25px;
}

.spacer{
  background-color:#d12e28;
  height: 50px;
  z-index: 1;
}

.multicontainer{
  position: relative;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.data-carousel{
  height: 500px;
  background-color: #121212;
}

.data-carousel > div {
  background-color: #121212;
}

.data-carousel-container{
  background-color: #121212;
}
