
.map-div{
  position: relative;
}

.multicontainer{
  position: relative;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

#triangle-background{
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-bottom: 0px;
}

#spacer{
  height: 35px;
}

#main-container{
  position: relative;
  width: 100vw;
}
