{% extends './base.html' %}


{% block  body%}
  <div>
    <h1>List of politicians in the database.</h1>
  </div>

  {% for politician in PoliticianList %}
    <div>
      <div class="card">
        <div>
          Name: <a href="#" >{{politician.name}}</a>
        </div>
        {% if politician.party == 'DEM' %}
        <div>Party:<a class='democrat' > {{politician.party}}</a></div>
        {% elif politician.party == 'REP' %}
        <div>Party:<a class='republican' > {{politician.party}}</a></div>
        {% elif politician.party == 'LIB' %}
        <div>Party:<a class='libertarian' > {{politician.party}}</a></div>
        {% else %}
        <div>Party:<a class='other' > {{politician.party}}</a></div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock  %}
