{% extends 'base.html' %}


{% block  body%}
  <div>
    <h1>List of politicians in the database.</h1>
  </div>

  {% for politician in PoliticianList %}
    <div>
      <div class="card">
        <div>
          Name: <a href="#" >{{politician.name}}</a>
        </div>
        {% if politician.party == 'DEM' %}
        <div class='democrat' >Party: {{politician.party}}</div>
        {% elif politician.party == 'REP' %}
        <div class='republican' >Party: {{politician.party}}</div>
        {% else %}
        <div class='other' >Party: {{politician.party}}</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock  %}
