body {
  color: rgb(223, 200, 200);
  background-color: rgb(19, 16, 16);
}

.democrat{
  color: blue;
}

.republican{
  color: red;
}

.libertarian{
  color: green;
}

.other{
  color: rgb(230, 236, 229);
}

.card {
  padding: 10px;
}